# ############################
# ## GENERAL / OS / IDE
# ############################
**/__pycache__/

# Ignore specific frontend files often managed by package managers/IDEs
frontend/.metadata
frontend/pubspec.lock

# Ignore test directories that don't need to be committed
frontend/test/
# Operating System files
.DS_Store
Thumbs.db

# IDE configuration
.vscode/
.idea/
*.iml

# ############################
# ## BACKEND (Python/Django)
# ############################

# Path is specified as /backend/
/backend/venv/
/backend/*.pyc
/backend/__pycache__/
/backend/*.egg-info/
/backend/*.egg

# Secrets
/backend/.env
/backend/*.env.*
/backend/*.ini

# ############################
# ## FRONTEND (Flutter/Dart)
# ############################

# Path is specified as /frontend/
/frontend/build/
/frontend/.dart_tool/
/frontend/.flutter-plugins
/frontend/.flutter-plugins-dependencies
/frontend/.packages
/frontend/ios/Pods/
/frontend/ios/.symlinks/
/frontend/ios/Flutter/App.framework
/frontend/ios/Flutter/engine.framework
/frontend/ios/Flutter/Flutter.podspec
